<div id="status"></div>

<div>Score: <span id="score"></span></div>

<div>Your Turns: <span id="turns"></span></div>

<button class="choice" data-choice="r">choose rock</button>

<button class="choice" data-choice="p">choose paper</button>

<button class="choice" data-choice="s">choose scissors</button>


<div>
	<button id="submitScore">submit score</button>
</div>